
body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
  margin: 0;
  padding: 1rem;
}
.container {
  max-width: 700px;
  margin: auto;
}
.dark-mode {
  background-color: #111;
  color: #eee;
}
select {
  margin: 0.5rem;
}
.note {
  margin-top: 2rem;
  font-size: 0.9em;
  color: #777;
}
ul {
  list-style-type: square;
}
